In [133]:
import os
from dotenv import load_dotenv
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By


url = "https://www.dbs.com/in/treasures/rates-online/foreign-currency-foreign-exchange.page"

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get(url)

In [134]:
date_detail = driver.find_element(By.ID, "mainCurrency").text
s = date_detail.split(' ')

date = s[3]
time = s[-1]

In [135]:
# Header Names
header = driver.find_elements(By.XPATH, "//table[@class='sc-dxgOiQ dzHkKC tbl-primary mBot-16']/thead/tr/th")

col_names = list()

for head in header:
    col_names.append(head.text)

print(col_names)

['Currency', 'Selling TT', 'Selling Cash', 'Buying TT', 'Buying Cash']

In [136]:
# Locators
col = driver.find_elements(By.XPATH, "//table[@class='sc-dxgOiQ dzHkKC tbl-primary mBot-16']/tbody/tr")
row = driver.find_elements(By.XPATH, "//table[@class='sc-dxgOiQ dzHkKC tbl-primary mBot-16']/tbody/tr[1]/td")

num_row = len(row) #5
num_col = len(col) #10

results = []


for i in range (1, num_col + 1):
    result = []
    for j in range (1, num_row + 1):
        d = driver.find_element(By.XPATH, "//table[@class='sc-dxgOiQ dzHkKC tbl-primary mBot-16']/tbody/tr["+str(i)+"]/td["+str(j)+"]").text
        result.append(d)
    results.append(result)

In [137]:
df = pd.DataFrame(data=results, columns=col_names)

df["Date"] = date
df["Time"] = updated

print(df)

                      Currency Selling TT Selling Cash Buying TT Buying Cash  \
0                    US Dollar    80.7049      80.7049   77.5400     77.5400
1             Singapore Dollar    58.6655      58.6655   56.0839     56.0839
2            Australian Dollar    56.5180      56.5180   54.0309     54.0309
3                  Swiss Franc    85.0901      85.0901   81.3456     81.3456
4                         Euro    82.7592      82.7592   79.1173     79.1173
5                British Pound    98.6061      98.6061   94.2667     94.2667
6              Canadian Dollar    63.1824      63.1824   60.4019     60.4019
7             Hong Kong Dollar    10.3065      10.3065    9.8529      9.8529
8                 Japanese Yen     0.6104       0.6104    0.5835      0.5835
9  United Arab Emirates Dirham    22.0264      22.0264   21.0571     21.0571

         Date     Time
0  01/08/2022  11:45AM
1  01/08/2022  11:45AM
2  01/08/2022  11:45AM
3  01/08/2022  11:45AM
4  01/08/2022  11:45AM
5  01/08/2022  11:45AM
6  01/08/2022  11:45AM
7  01/08/2022  11:45AM
8  01/08/2022  11:45AM
9  01/08/2022  11:45AM